/* App.css */

/* Main content padding */
main {
    padding-top: 1.5rem;
}

.clickable-card {
    cursor: pointer;
    transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.clickable-card:hover {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.clickable-card.selected {
    border-color: #007bff;
    border-width: 2px;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.7);
}

.badge-container {
  padding: .5em .6em; /* Adjust padding to match badge */
  border-radius: .25rem; /* Match Bootstrap badge border-radius */
  overflow: hidden; /* Hide overflow of progress bar */
}

.badge-container .progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transition: width .6s ease;
  z-index: 0; /* Behind the text */
}

.badge-container span {
  z-index: 1; /* Ensure text is above progress bar */
}

.bg-pastel-blue {
  background-color: #a7d9f7; /* Light blue */
}

.bg-pastel-gray {
  background-color: #c0c0c0; /* Light gray */
}
